doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Science Tech & Humanities

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand(href='#page-top')
                    img(src='assets/img/logoSTH.png', alt='...')
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ms-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0
                        li.nav-item
                            a.nav-link(href='#nosotros') Nosotros
                        li.nav-item
                            a.nav-link(href='#congresos') Congresos 
                        li.nav-item
                            a.nav-link(href='#portfolio') Servicios 
                        li.nav-item
                            a.nav-link(href='#proyectos') Proyectos 
                        li.nav-item
                            a.nav-link(href='#directivos') Directivos 
                        li.nav-item
                            a.nav-link(href='#contact') Contacto 
        // Masthead
        header.masthead
            .container
                .masthead-subheading Bienvenidos a las oportunidades
                .masthead-heading.text-uppercase Science Tech & Humanities A.C.
                a.btn.btn-primary.btn-xl.text-uppercase(href='#contact') Asóciate aquí

        // Congresos
        section#congresos.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Congresos
                    h3.section-subheading.text-muted Congresos que organiza STH.
                .row
                    .col-lg-6.col-sm-6.mb-4
                        // Congreso de educación
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#cieModal')
                                .portfolio-hover
                                    .portfolio-hover-content
                                img.img-fluid(src='https://tecnosoluciones.com/wp-content/uploads/2018/11/Educacion-virtual.jpg', alt='...')
                            .portfolio-caption
                                .portfolio-caption-heading Congreso Internacional de Educación
                                .portfolio-caption-subheading.text-muted Marzo 2024
                    .col-lg-6.col-sm-6.mb-4
                        // Congreso de ing física
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal2')
                                .portfolio-hover
                                    .portfolio-hover-content
                                img.img-fluid(src='https://micarrerauniversitaria.com/wp-content/uploads/2018/01/ingenieria-fisica-02.jpg', alt='...')
                            .portfolio-caption
                                .portfolio-caption-heading Congreso Internacional de Ingeniería Física
                                .portfolio-caption-subheading.text-muted Julio 2024
            
        // Nosotros
        section#nosotros.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Estatutos
                    h3.section-subheading.text-muted Conoce más sobre lo que hacemos.
                .row.text-center
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-users.fa-stack-1x.fa-inverse
                        h4.my-3 Congresos
                        p.text-muted
                            | Organizamos congresos nacionales e internacionales para compartir los resultados de las nuevas investigaciones.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-rocket.fa-stack-1x.fa-inverse
                        h4.my-3 Cursos y asesorías
                        p.text-muted
                            | Ofrecemos curso de actualización y regularización Académica.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-balance-scale.fa-stack-1x.fa-inverse
                        h4.my-3 Ciencia, cultura y Artes
                        p.text-muted
                            | Promovemos la divulgación de las artes y las ciencias.

        // Servicios
        //- section#portfolio.page-section.bg-light
        //-     .container
        //-         .text-center
        //-             h2.section-heading.text-uppercase Servicios
        //-             h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        //-         .row
        //-             .col-lg-4.col-sm-6.mb-4
        //-                 // Portfolio item 1
        //-                 .portfolio-item
        //-                     a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal1')
        //-                         .portfolio-hover
        //-                             .portfolio-hover-content
        //-                                 i.fas.fa-plus.fa-3x
        //-                         img.img-fluid(src='assets/img/portfolio/1.jpg', alt='...')
        //-                     .portfolio-caption
        //-                         .portfolio-caption-heading Threads
        //-                         .portfolio-caption-subheading.text-muted Illustration
        //-             .col-lg-4.col-sm-6.mb-4
        //-                 // Portfolio item 2
        //-                 .portfolio-item
        //-                     a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal2')
        //-                         .portfolio-hover
        //-                             .portfolio-hover-content
        //-                                 i.fas.fa-plus.fa-3x
        //-                         img.img-fluid(src='assets/img/portfolio/2.jpg', alt='...')
        //-                     .portfolio-caption
        //-                         .portfolio-caption-heading Explore
        //-                         .portfolio-caption-subheading.text-muted Graphic Design
        //-             .col-lg-4.col-sm-6.mb-4
        //-                 // Portfolio item 3
        //-                 .portfolio-item
        //-                     a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal3')
        //-                         .portfolio-hover
        //-                             .portfolio-hover-content
        //-                                 i.fas.fa-plus.fa-3x
        //-                         img.img-fluid(src='assets/img/portfolio/3.jpg', alt='...')
        //-                     .portfolio-caption
        //-                         .portfolio-caption-heading Finish
        //-                         .portfolio-caption-subheading.text-muted Identity
        //-             .col-lg-4.col-sm-6.mb-4.mb-lg-0
        //-                 // Portfolio item 4
        //-                 .portfolio-item
        //-                     a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal4')
        //-                         .portfolio-hover
        //-                             .portfolio-hover-content
        //-                                 i.fas.fa-plus.fa-3x
        //-                         img.img-fluid(src='assets/img/portfolio/4.jpg', alt='...')
        //-                     .portfolio-caption
        //-                         .portfolio-caption-heading Lines
        //-                         .portfolio-caption-subheading.text-muted Branding
        //-             .col-lg-4.col-sm-6.mb-4.mb-sm-0
        //-                 // Portfolio item 5
        //-                 .portfolio-item
        //-                     a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal5')
        //-                         .portfolio-hover
        //-                             .portfolio-hover-content
        //-                                 i.fas.fa-plus.fa-3x
        //-                         img.img-fluid(src='assets/img/portfolio/5.jpg', alt='...')
        //-                     .portfolio-caption
        //-                         .portfolio-caption-heading Southwest
        //-                         .portfolio-caption-subheading.text-muted Website Design
        //-             .col-lg-4.col-sm-6
        //-                 // Portfolio item 6
        //-                 .portfolio-item
        //-                     a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal6')
        //-                         .portfolio-hover
        //-                             .portfolio-hover-content
        //-                                 i.fas.fa-plus.fa-3x
        //-                         img.img-fluid(src='assets/img/portfolio/6.jpg', alt='...')
        //-                     .portfolio-caption
        //-                         .portfolio-caption-heading Window
        //-                         .portfolio-caption-subheading.text-muted Photography

        // About
        //- section#proyectos.page-section
        //-     .container
        //-         .text-center
        //-             h2.section-heading.text-uppercase Proyectos
        //-             h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        //-         ul.timeline
        //-             li
        //-                 .timeline-image
        //-                     img.rounded-circle.img-fluid(src='assets/img/about/1.jpg', alt='...')
        //-                 .timeline-panel
        //-                     .timeline-heading
        //-                         h4 2009-2011
        //-                         h4.subheading Our Humble Beginnings
        //-                     .timeline-body
        //-                         p.text-muted
        //-                             | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
        //-             li.timeline-inverted
        //-                 .timeline-image
        //-                     img.rounded-circle.img-fluid(src='assets/img/about/2.jpg', alt='...')
        //-                 .timeline-panel
        //-                     .timeline-heading
        //-                         h4 March 2011
        //-                         h4.subheading An Agency is Born
        //-                     .timeline-body
        //-                         p.text-muted
        //-                             | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
        //-             li
        //-                 .timeline-image
        //-                     img.rounded-circle.img-fluid(src='assets/img/about/3.jpg', alt='...')
        //-                 .timeline-panel
        //-                     .timeline-heading
        //-                         h4 December 2015
        //-                         h4.subheading Transition to Full Service
        //-                     .timeline-body
        //-                         p.text-muted
        //-                             | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
        //-             li.timeline-inverted
        //-                 .timeline-image
        //-                     img.rounded-circle.img-fluid(src='assets/img/about/4.jpg', alt='...')
        //-                 .timeline-panel
        //-                     .timeline-heading
        //-                         h4 July 2020
        //-                         h4.subheading Phase Two Expansion
        //-                     .timeline-body
        //-                         p.text-muted
        //-                             | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
        //-             li.timeline-inverted
        //-                 .timeline-image
        //-                     h4
        //-                         | Be Part
        //-                         br
        //-                         | Of Our
        //-                         br
        //-                         | Story!

        // Team
        section#directivos.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Directivos
                    h3.section-subheading.text-muted Conoce a los miembros de la mesa directiva
                .row
                    .col-lg-3
                        .team-member
                            //- img.mx-auto.rounded-circle(src='assets/img/team/1.jpg', alt='...')
                            h4 Jaime Granados Samaniego
                            p.text-muted Presidente
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Parveen Anand Twitter Profile')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Parveen Anand Facebook Profile')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Parveen Anand LinkedIn Profile')
                                i.fab.fa-linkedin-in
                    .col-lg-3
                        .team-member
                            //- img.mx-auto.rounded-circle(src='assets/img/team/1.jpg', alt='...')
                            h4 Jaime Granados Rodríguez
                            p.text-muted Vicepresidente
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Diana Petersen Twitter Profile')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Diana Petersen Facebook Profile')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Diana Petersen LinkedIn Profile')
                                i.fab.fa-linkedin-in
                    .col-lg-3
                        .team-member
                            //- img.mx-auto.rounded-circle(src='assets/img/team/3.jpg', alt='...')
                            h4 Fernando Tavera Romero
                            p.text-muted Secretario
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Larry Parker Twitter Profile')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Larry Parker Facebook Profile')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Larry Parker LinkedIn Profile')
                                i.fab.fa-linkedin-in
                    .col-lg-3
                        .team-member
                            //- img.mx-auto.rounded-circle(src='assets/img/team/2.jpg', alt='...')
                            h4 Karla Granados Rodríguez
                            p.text-muted Tesorera
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Parveen Anand Twitter Profile')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Parveen Anand Facebook Profile')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Parveen Anand LinkedIn Profile')
                                i.fab.fa-linkedin-in
                .row
                    .col-lg-8.mx-auto.text-center
                        p.large.text-muted
                            | La mesa directiva tiene vigencia hasta el 31 de diciembre del 2025

        // Clients
        //- div.py-5
        //-     .container
        //-         .row.align-items-center
        //-             .col-md-3.col-sm-6.my-3
        //-                 a(href='#!')
        //-                     img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/microsoft.svg', alt='...', aria-label='Microsoft Logo')
        //-             .col-md-3.col-sm-6.my-3
        //-                 a(href='#!')
        //-                     img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/google.svg', alt='...', aria-label='Google Logo')
        //-             .col-md-3.col-sm-6.my-3
        //-                 a(href='#!')
        //-                     img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/facebook.svg', alt='...', aria-label='Facebook Logo')
        //-             .col-md-3.col-sm-6.my-3
        //-                 a(href='#!')
        //-                     img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/ibm.svg', alt='...', aria-label='IBM Logo')

        // Contact
        section#contact.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Contáctanos
                    h3.section-subheading.text-muted Para asociarte, dudas, quejas o sugerencias escríbenos

                form#contactForm(data-sb-form-api-token='API_TOKEN')
                    .row.align-items-stretch.mb-5
                        .col-md-6
                            .form-group

                                // Name input
                                input#name.form-control(
                                    type='text',
                                    placeholder='Nombre *',
                                    data-sb-validations='required'
                                )
                                .invalid-feedback(data-sb-feedback='name:required')
                                    | El nombre es obligatorio.

                            .form-group

                                // Email address input
                                input#email.form-control(
                                    type='email',
                                    placeholder='Email *',
                                    data-sb-validations='required,email'
                                )
                                .invalid-feedback(data-sb-feedback='email:required')
                                    | El E-mail es obligatorio.
                                .invalid-feedback(data-sb-feedback='email:email')
                                    | E-mail mal escrito.

                            .form-group.mb-md-0

                                // Phone number input
                                input#phone.form-control(
                                    type='tel',
                                    placeholder='Teléfono *',
                                    data-sb-validations='required'
                                )
                                .invalid-feedback(data-sb-feedback='phone:required')
                                    | Teléfono obligatorio.

                        .col-md-6
                            .form-group.form-group-textarea.mb-md-0

                                // Message input
                                textarea#message.form-control(
                                    placeholder='Tu mensaje *',
                                    data-sb-validations='required'
                                )
                                .invalid-feedback(data-sb-feedback='message:required')
                                    | El mensaje es obligatorio.

                    // Submit success message
                    //
                    // This is what your users will see when the form
                    // has successfully submitted

                    #submitSuccessMessage.d-none
                        .text-center.text-white.mb-3
                            .fw-bolder Form submission successful!
                            | To activate this form, sign up at
                            br
                            a(href='https://startbootstrap.com/solution/contact-forms') https://startbootstrap.com/solution/contact-forms

                    // Submit error message
                    //
                    // This is what your users will see when there is
                    // an error submitting the form

                    #submitErrorMessage.d-none
                        .text-center.text-danger.mb-3 Error sending message!

                    // Submit Button
                    .text-center
                        button#submitButton.btn.btn-primary.btn-xl.text-uppercase.disabled(type='submit') Send Message

        // Footer
        footer.footer.py-4
            .container
                .row.align-items-center
                    .col-lg-4.text-lg-start
                        | Copyright &copy; Science Tech & Humanities 2024
                    .col-lg-4.my-3.my-lg-0
                        a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Twitter')
                            i.fab.fa-twitter
                        a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Facebook')
                            i.fab.fa-facebook-fstha
                        a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='LinkedIn')
                            i.fab.fa-linkedin-in
                    .col-lg-4.text-lg-end
                        a.link-dark.text-decoration-none.me-3(href='#!') Privacy Policy
                        a.link-dark.text-decoration-none(href='#!') Terms of Use

        // Portfolio Modals
        include includes/cie-modal
        include includes/portfolio-modal-1
        include includes/portfolio-modal-2
        include includes/portfolio-modal-3
        include includes/portfolio-modal-4
        include includes/portfolio-modal-5
        include includes/portfolio-modal-6

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
